body{
  background-repeat: no-repeat;
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-center: center;
  width: 100vw;
  color: #FFFFFF;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#title{
  margin-top: 30px;
  margin-bottom: 5px; 
  text-align: center;
  font-weight: 400;
}

#description{
  margin-top: 0;
  text-align: center;
  font-style: italic;
}

#survey-form{
  background-color: rgba(27, 27, 50, 0.8);
  width: 80%;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  min-width: 500px;
}

label{
  margin-bottom: 10px;
  width: 90%;
  padding-top: 8px;
  font-size: 18px;
}

.form-class{
  display: flex;
  margin: 0 auto 1.25rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

input, select{
  height: 40px;
  width: 90%;
  font-size: 16px;
  border-radius: 5px;
}

textarea{
  width: 90%;
  height: 100px;
  font-size: 16px;
}

.form-radio, .class-checkbox{
  flex-direction: row;
  display: flex;
  padding-bottom: 5px;
  align-items: center;
}

input[type="radio"], input[type="checkbox"]{
  margin-left: 20px;
  height: 20px;
  width: 10%;
}

input[type="submit"]{
  width: 90%;
  margin-bottom: 50px; 
  background-color: rgb(0,127,0);
  color: #FFFFFF;
  border: 1px solid rgb(0,127,0);
}